.board-header {
    background-color: transparent;
    grid-area: board-header;
    padding-inline-end: 30px;
}

.board-upper-header {
    border-bottom: 1px solid $primary-border-clr;
}

.views-seprator {
    height: 1rem;
    border-right: 1px solid $primary-hover-clr;
    align-self: center;
}

.board-name-title {
    width: max-content;
    font-size: 1.5rem;
    padding: 4px;
    &:hover {
        outline: 1px solid $primary-border-clr;
    }
}

.board-name-icon{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-left: 2px;
}

.last-seen-btn, .invite-btn{
    height: 32px;
    border-radius: 4px;

}


.board-nav-container {
    margin-top: 8px;
}

.board-nav-item {
    padding: 8px;
    border-radius: 6px 6px 0 0;
    &.active {
        border-bottom: 2px solid $primary-clr;
    }
}

.board-filter {
    padding: 16px 0;
}

.board-filter-item {
    border-radius: 6px;
    margin-left: 4px;
    padding: 6px;
}

.new-task {
    border-radius: 6px;
    background-color: $primary-clr;
}

.new-task-btn {
    color: white;
    padding: 4px 8px;
    border-right: 1px solid #0360b9;
    &:hover {
        border-radius: 6px 0 0 6px;
        background-color: #0360b9;
    }
}

.new-task-arrow {
    color: white;
    margin: 0 4px;
    &:hover {
        border-radius: 0 6px 6px 0;
        background-color: #0360b9;
    }
}

.board-top-actions {
    gap: 8px;
}