.board-header {
    background-color: transparent;
    grid-area: board-header;
    padding-inline-end: 30px;
}

.users-list {
    cursor: pointer;
    position: relative;
    margin-inline-end: 12px;
    padding: 6px;
    padding: 4px 8px;
    border-radius: 4px 6px;

    span {
        padding-top: 5px;
        font-size: em(14px);
        color: #323338;
    }

    .login-img {
        margin-inline-start: 8px;

        &.member-preview {
            width: 26px;
            height: 26px;
        }
    }

    .users-dropdown {
        position: absolute;
        z-index: 70;
        top: 46px;
        background-color: white;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.3);
        padding: 8px;
        padding-top: 9px;
        border-radius: 6px;
    }

    .user-item {
        margin-bottom: 8px;
        min-width: 150px;
        border-radius: 4px;

        :first-child {
            margin: 6px;
        }

        &:hover {
            background-color: $primary-hover-clr;
        }
    }
}

.board-upper-header {
    border-bottom: 1px solid $primary-border-clr;
}

.views-seprator {
    height: 1rem;
    border-right: 1px solid $primary-hover-clr;
    align-self: center;
}

.board-name-title {
    width: max-content;
    font-size: 1.5rem;
    padding: 4px;
    border-radius: 4px;

    &:focus-within {
        outline: 1px solid $primary-clr;
        border: 0;
    }
}

.board-name-icon {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-left: 2px;
}

.last-seen-btn,
.invite-btn {
    height: 32px;
    border-radius: 4px;
    padding: 0 4px;

    .svg {
        margin-inline-end: 8px;
    }

    button {
        cursor: inherit;
        color: #323338;
    }
}

.board-nav-container {
    margin-top: 8px;
}

.nav-item-container {
    display: flex;

    &.active {
        border-bottom: 2px solid $primary-clr;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
    }
}

.board-nav-item {
    padding: 4px 14px;
    cursor: pointer;
    font-size: 0.875em;
    border-radius: 6px;
    align-items: center;
    margin: 4px 0;
}

.board-nav-item.main-table-nav {
    padding-left: 4px;
}

.board-filter-bar {
    padding: 16px 0;
    height: 4em;
    // gap: 10px;
    // note arnon change 10.12

    .new-task {
        position: relative;
        border-radius: 4px;
        margin-inline-end: 10px;
        height: 2em;
        min-width: 102px;
        background-color: $primary-clr;

        .dropDown1 {
            position: absolute;
            background-color: white;
            left: 72px;
            top: 40px;
            width: 220px;
            border-radius: 6px;
            padding: 8px;
            box-shadow: 0 4px 17px 6px rgba(0, 0, 0, .1);
            z-index: 216;

            .item {
                padding: 8px;
                border-radius: 4px;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background-color: $primary-hover-clr ;
                }

                .svg {
                    margin-inline-end: 6px;
                }

                &.disabled {
                    cursor: default;
                }
            }
        }
    }

    .board-filter-item {
        border-radius: 6px;
        margin-left: 12px;
        padding: 4px 6px;
        color: $primary-txt-clr;

        &.person{
            margin-left: 8px;
        }
        &.filter{
            padding-inline-end: 2px;
        }
        &::placeholder {
            color: $primary-txt-clr;
        }

        span.arrow-down{
            margin-inline-start: 4px;
        }
    }

    .search-nav-filter-icon {
        position: absolute;
        z-index: 2;
        margin-left: 128px;
        margin-top: 5px;
    }

    // input search
    .search-nav-filter {
        padding-left: 27px;
        padding-inline-end:0 ;
        width: 82px;
        border: 0;
        transition: width .2s;
        cursor: pointer;

        &:focus-within {
            outline: 1px solid $primary-clr;
        }

        &:hover {
            background-color: $primary-hover-clr ;

        }
    }

    .search-open {
        cursor: text;
        width: 220px;
    }

    .new-task-btn {
        color: white;
        padding: 4px 8px;
        border-right: 1px solid #0360b9;

        &:hover {
            border-radius: 4px 0 0 4px;
            background-color: #0360b9;
        }
    }

    .new-task-arrow {
        color: white;
        margin: 0 4px;

        &:hover {
            border-radius: 0 4px 4px 0;
            background-color: #0360b9;
        }
    }
}

.active-filter {
    background-color: $bg-big-sidebar-active;
}

.hide-icon {
    width: 25px;
    height: 20px;
    color: #676879;
}

.board-top-actions {
    gap: 8px;
}

.el-popper {
    font-family: Roboto;
}

.no-cursor {
    cursor: default;
}