
.date{
    z-index: 10;
}

:root {
    --el-border-color-light: transparent;
}

.el-icon.el-input__icon {
    display: none;
}

.el-input__inner {
    text-align: center;
    --el-input-inner-height: 27px;
    background-color: white;
    &:hover {
        color: $link-color;
    }
}

.el-input {
    padding: 5px;
    --el-input-border-radius: 0%;
}

.el-input__wrapper {
    padding: 0;
}

.timeline-btn{
    width: 100%;
    height: 18px;
    margin: 0 20px;
    border-radius: 15px;
    background-color: darkgrey;
}

.date-picker {
    display: flex;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}

.timeline-picker{
    width: 120px;
    border: 0 !important;
}

.el-date-editor.el-date-editor--daterange.el-input__wrapper.el-range-editor.el-tooltip__trigger.el-tooltip__trigger{
    width: 120px ;
    border: 0 !important;
}