.board-content {
    position: relative;
    width: 100%;
}

.group-container {
    width: 1280px;
    margin-bottom: 20px;
    position: relative;
    .group-content {
        .labels-grid {
            >*:not(:first-child) {
                border-top: 1px solid $primary-border-clr;
            }
        }
    }
}

.progress-grid {
    >*:not(:first-child, .empty) {
        border-top: 1px solid $primary-border-clr;
    }
    // status cell
    >*:nth-child(5) {
        border-left: 1px solid $primary-border-clr;
        border-bottom-left-radius: 6px;
    }
}

.main-table {
    position: relative;
    height: 100%;
    overflow-x: scroll;
}

.group-list {
    position: absolute;
    width: 100%;
}

// TASKS SECTION
.task-row {
    >* {
        cursor: pointer;
    }
    .more {
        span {
            opacity: 0;
        }
    }
    &:hover {
        background-color: $table-hover-clr;
        box-shadow: 4px 3px 6px -3px #c3c6d4;
        .more {
            span {
                opacity: 1;
            }
        }
        .open-con {
            opacity: 1;
        }
    }
}

.group-grid {
    display: grid;
    grid-template-columns: 40px 6px 32px 364px repeat(auto-fill, minmax(140px, 140px));
    grid-template-rows: rem(36px);
    grid-auto-flow: column;
    grid-auto-columns: minmax(140px, 140px);
    // todo- add generic style of sticky class
    >* {
        background-color: white;
    }
    >:nth-child(1),
     :nth-child(2),
     :nth-child(3),
     :nth-child(4) {
        position: sticky;
        z-index: 50;
    }
    >:nth-child(1) {
        left: 0;
    }
    >:nth-child(2) {
        left: 40px;
    }
    >:nth-child(3) {
        left: 46px;
    }
    >:nth-child(4) {
        left: 78px;
    }
    .task-border {
        background-color: $primary-clr;
        &.add-task {
            opacity: 0.5;
            background: rgb(87, 155, 252);
        }
    }
}

.add-task {
    .input-wrapper {
        border-bottom: 1px solid $primary-border-clr;
        border-inline-end: 0;
        padding: 6px 10px;
        input {
            padding: 0;
            width: 100%;
            padding-inline-start: 8px;
            border: 0;
        }
    }
}

// task title
.task-title {
    padding-inline-start: 36px;
    .open-con {
        opacity: 0;
    }
    .task-title-sub {
        width: 100%;
        padding-inline-end: 16px;
        // task title editable
        .content-edit {
            padding: 5px;
            height: 20px;
            //    todo-not working check this out
            &:focus-visible {
                border-color: $primary-clr;
                border: 1px solid $primary-clr !important;
            }
        }
    }
    .conversation-wrapper {
        width: 65px;
        border-left: 1px solid $primary-border-clr;
    }
}

// CELL-SECTION
.cell {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid $primary-border-clr;
    border-bottom: 1px solid $primary-border-clr;
    border-right: 1px solid $primary-border-clr;
    font-size: em(14px);
    position: relative;
    >* {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        >* {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.checkbox {
    width: 14px;
    height: 16px;
}

.on-drag {
    border: 1px dotted $primary-border-clr;
    cursor: move;
}

.border-radius-tl {
    border-top-left-radius: 6px;
}

.border-radius-bl {
    border-bottom-left-radius: 6px;
}

.new-group-btn {
    position: sticky;
    // margin-inline-start: 40px;
    left: 40px;
    border: 1px solid $primary-border-clr;
    border-radius: 5px;
    padding: 4px 10px;
    padding-inline-start: 3px;
    margin-bottom: 20px;
    width: fit-content;
}

.status-picker-modal {
    position: absolute !important;
}