.group-title {
    // width: 510px;
    // height: 40px;
    // position: sticky;
    // left: 0;
    // padding-inline-start: 4px;
    // font-size: rem(18px);
    // gap: 7px;
    // position:absolute;

    >* {
        cursor: pointer;
    }

    // // TODO-check why the z-index is down to checkbox
    // .group-title-dropdown {
    //     display: none;
    //     position: absolute ;
    //     left: 50px;
    //     top: 50px;
    //     z-index: 50;
    //     &.isDropOpen {
    //         display: inherit;
    //     }
    //     .action {
    //         margin-bottom: 6px;
    //         &:hover {
    //             background-color: #dcdfeb;
    //         }
    //     }
    // }
    .more {
        // position: relative;
        // margin-inline-end: 5px;
        position: sticky;
        z-index: 10;
        background-color: white;
        left: 0;
        opacity: 0.2;
        width: 100%;
    }

    &:hover {
        .more {
            opacity: 1;
        }
    }
}

.title-wrapper {
    .title-input {
        cursor: text;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 4px;

        &:hover {
            border: 1px solid $secondary-border-clr;
            border-radius: 4px;
            transition: border 3s;
        }
    }

    .tasks-count {
        color: $secondary-txt-clr;
        font-size: rem(14px);
        margin-inline-start: 3px;
        opacity: 0;
        transition: opacity 0.3s;
        // &:hover {
        //     opacity: 1;
        // }
    }

    &:hover {
        .tasks-count {
            opacity: 1;
        }
    }
}

.color-picker {
    display: flex;
    flex-wrap: wrap;
    width: 172px;
    height: 140px;
    position: absolute;
    z-index: 10000;
    top: 10px;
    left: 10px;
    background-color: blue;
    padding: 5px;
    border-radius: 4px;
}

// TODO-check why the z-index is down to checkbox
.group-title-dropdown {
    display: none;
    position: absolute;
    left: 20px;
    top: 30px;
    z-index: 50;

    &.isDropOpen {
        display: inherit;
    }

    .action {
        margin-bottom: 6px;

        &:hover {
            background-color: #dcdfeb;
        }
    }
}