.group-grid {
    display: grid;
    grid-template-columns:25px 400px repeat(auto-fill, minmax(140px, 140px));
    grid-template-rows: rem(36px);
    grid-auto-flow: column;
    grid-auto-columns: minmax(140px, 140px);
}

.group-grid-child> :first-child {
    position: sticky;
    z-index: 10;
    left: 0;
    background-color: white;
}

.progress-grid {
    width: 100%;
    background: red;
    display: grid;
    grid-template-columns: 10px 200px 200px 200px 200px 200px;
    justify-content: center;
}

.group-list {
    background-color: lightblue;
    width: 95%;
    margin: 10px;
    margin-top: 2em;
    overflow-x: scroll;
    position: relative;
    border: 1px solid #d0d4e4;
    border-radius: 6px;
    font-size: rem(14px);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: ;
    border: 1px solid $primary-border-clr;
    >* {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}