.kanban-filter {
    // position:absolute;
    // right: 0;
    // top: 0;
    padding: 16px;
    margin-inline-start: auto;
    height: 100%;
    z-index: 50;
    width: 268px;
    background-color: white;
    border-left: 2px solid $primary-border-clr;

    >* {
        margin-bottom: 16px;
    }

    .customize {
        color: #676879;
        margin-bottom: 16px;
    }

    .sub-header {
        // margin-bottom: 16px;
        padding-inline-end: 8px;
        font-size: em(14px);
    }

    


    .select-wrapper {
        width: 100%;

        .el-select{
            width: 100%;
            border-radius: 6px;
            color: #323338;
            // height: 38px;
            border: 1px solid #c3c6d4;
            border: 0;
            padding: 0 !important;
            cursor: pointer;

            &:focus-within{
                outline: 1px solid $primary-clr;
                border: 0;
            }
            .el-select-dropdown__item{
                font-family: Roboto;
            }

            .el-input--suffix{
                padding: 0;
            }
         
            .el-input__wrapper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 11px;
                border-radius: 6px;
                border: 0;
                color: #323338;

                .el-input__inner{
                    text-align: start;
                    border: 0;
                    background-color: unset;
                    color: #323338;
                }
                &:focus-within{
                    outline: 1px solid $primary-clr;
                    border: 0;
                }
    
            }
        }

        .el-scrollbar{
            .el-select-dropdown__item{
                font-family: cursive;
            }

            >*{
                font-family: cursive;
            }
        }

//         select {
//             // padding: 2px 8px 2px 12px;
//             width: 100%;
//             border-radius: 6px;
//             color: #323338;
//             height: 38px;
//             border: 1px solid #c3c6d4;
//             cursor: pointer;
// 
//             option{
//                 border: 0;
//                 height: 30px !important;
//             }
//             &:focus-within{
//                 outline: 1px solid $primary-clr;
//                 border: 0;
//             }
//         }
    }

    .card-columns-wrapper {
        padding-inline-end: 8px;
        padding-top: 6px;

        .sub2-header {
            margin-bottom: 8px;
        }

        >* {
            font-size: 14px;
            line-height: 22px;
        }

        .card-col {
            margin-bottom: 8px;
            cursor: pointer;
            input{
                cursor: pointer;
            }

        }

        input{
            width: 14px;
            height: 14px;
            border: 1px solid $primary-border-clr;
            margin-inline-end: 8px;
        }
        .all-columns{
            margin-bottom: 22px;
         
        }
    }
}

// helper for the select options
.el-select-dropdown__item{
    font-family: Roboto;
}