// priority
.priority-modal-item {
    text-align: center;
    color: white;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        opacity: 90%;
    }
}

.priority-container {
    position: relative;
}

.priority {
    width: 100%;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    text-align: center;
    &:hover {
        opacity: 0.8;
    }
}

.priority-picker-modal {
    z-index: 60 !important;
    position: relative;
    right: 70px;
    top: 23px;
}

.priority-critical {
    background-color: $bg-priority-critical;
}

.priority-high {
    background-color: $bg-priority-high;
}

.priority-medium {
    background-color: $bg-priority-medium;
}

.priority-low {
    background-color: $bg-priority-low;
}

.priority-empty {
    background-color: $bg-priority-empty;
}

.priority-progress {
    padding: 5px 8px;
    z-index: 0;
    .bar-container {
        .low {
            background-color: $bg-priority-low;
        }
        .critical {
            background-color: $bg-priority-critical;
        }
        .empty {
            background-color: $bg-status-empty;
        }
        .medium {
            background-color: $bg-priority-medium;
        }
        .high {
            background-color: $bg-priority-high;
        }
    }
}