.side-nav {
    background-color: $bg-small-sidebar;
    color: white;
    grid-area: side-nav;
    padding-top: 7px;
}

.monday-icon {
    width: 40px;
    height: 40px;
    margin: auto;
    cursor: pointer;
    &.active {
        border-radius: 6px;
        background-color: #545970;
    }
   

}

.work-management {
    width: 30px;
    margin: auto;
    cursor: pointer;
}