// status
.status-modal-item {
    text-align: center;
    color: white;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
        opacity: 90%;
    }
}

.status {
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
}

.status-picker-modal {
    z-index: 60 !important;
    position: relative ;
    right: 70px;
    top: 28px;
}

.status-done {
    background-color: $bg-status-done;
}

.status-working {
    background-color: $bg-status-working;
}

.status-stuck {
    background-color: $bg-status-stuck;
}

.status-empty {
    background-color: $bg-status-empty;
}


.status-progress {
    z-index: 0;
    padding: 5px 8px;

    .bar-container {
        background-color: lightblue;

        .done {
            background-color: $bg-status-done;
        }

        .working-on-it {
            background-color: $bg-status-working;
        }

        .stuck {
            background-color: $bg-status-stuck;
            flex-basis: 25%;
        }

        .empty {
            background-color: $bg-status-empty;
        }
    }
}