// TASK SECTION
// for all the dynamic content
// helper for hover

.task-row {
    >* {
        cursor: pointer;
    }
    .more {
        left: 0px;
        span {
            opacity: 0;
        }
    }
    &:hover {
        background-color: $table-hover-clr;
        >*:not(:first-child) {
            background-color: inherit;
            >*:only-child {
                opacity: 0.8;
            }
        }
        .more {
            cursor: default;
            span {
                opacity: 1;
            }
        }
        .open-con {
            opacity: 1;
        }
    }
}

// main content-border
.task-border {
    left: 40px;
    background-color: $primary-clr;
    &.add-task {
        opacity: 0.5;
        background: rgb(87, 155, 252);
    }
}

// side cmp
.side {
    left: 46px;
    border-bottom: 1px solid $primary-border-clr;
    border-right: 1px solid $primary-border-clr;
}

// add-task sec
.add-task {
    .input-wrapper {
        border-bottom: 1px solid $primary-border-clr;
        border-inline-end: 0;
        padding: 6px 10px;
        input {
            padding: 3px;
            padding-inline-start: 22px;
            width: 100%;
            border: 0;
            // todo focus visible on the border not workin
            &:focus-visible {
                border: 1px solid $primary-clr;
            }
        }
    }
}

.box-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 184px;
    height: fit-content;
    z-index: 51;
}

.task-text {
    cursor: text;
    height: 24px;
    width: 100%;
    line-height: 24px;
    margin: 0 6px;
    &:hover {
        border: 1px solid $primary-border-clr;
        padding: 0 2px;
    }
}

.ghost {
    opacity: 0.5;
    background: grey;
}

.is-move {
    border: 1px dotted $primary-border-clr;
}

.checkbox {
    width: 14px;
    height: 16px;
}