.box-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72px;
    left: 410px;
    display: flex;
    flex-direction: column;
    width: 184px;
    height: 200px;
    z-index: 11;
    background-color: white;
}


// status

.status-modal-item {
    text-align: center;
    color: white;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
        opacity: 90%;
    }
}

.status {
    width: 100%;
    color: white;
    text-align: center;
}

.status-done {
    background-color: $bg-status-done;
}

.status-working {
    background-color: $bg-status-working;
}

.status-stuck {
    background-color: $bg-status-stuck;
}

.status-empty {
    background-color: $bg-status-empty;
}
// priority

.priority-modal-item{
    text-align: center;
    color: white;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
        opacity: 90%;
    }
}

.priority{
    width: 100%;
    color: white;
    text-align: center;
}


.priority-critical {
    background-color: $bg-priority-critical;
}

.priority-high {
    background-color: $bg-priority-high;
}

.priority-medium {
    background-color: $bg-priority-medium;
}

.priority-low {
    background-color: $bg-priority-low;

}

.priority-empty {
    background-color: $bg-priority-empty;

}

.task-text{
    cursor: text;
    height: 24px;
    width: 100%;
    line-height: 24px;
    margin: 0 6px;
    &:hover{
        border: 1px solid $primary-border-clr;
        padding: 0 2px;
    }
}


.ghost {
    opacity: 0.5;
    background: grey;
}

.is-move {
    border: 1px dotted $primary-border-clr;
}