// todo Media-q for blur the scroll x non-stability
.workspace {
    background-color: $bg-big-sidebar;
    padding-inline-start: 14px;
    padding-inline-end: 16px;
    font-weight: 300;
    color: $primary-txt-clr;
    font-family: Roboto;
    padding-top: 12px;
    position: relative;
    border-right: 1.2px solid $primary-border-clr;
    grid-area: workspace;

    // the blue famous btn
    .toggleWorkspace {
        position: absolute;
        background-color: white;
        border-radius: 50%;
        justify-content: center;
        padding: 0px 2px;
        border: 1px solid #c3c6d4;
        transform: translateX(-50%);
        top: 20px;
        width: 26px;
        right: -26px;

        // transition
        transition: width .15s ease,
            padding-inline-end .15s ease,
            padding-inline-start .15s ease,
            background-color .15s ease;

        // hover when workspace is close
        &:hover {
            width: 33px;
            height: 22px;
            border-radius: 20px;
            justify-content: start;
            padding-inline-start: 12px;
            background-color: #0073ea;
            right: -34px;

            .svg {
                svg {
                    fill: white;
                }
            }
        }

        .first {
            height: 22px;
            width: inherit;
            padding-inline-end: 3px;
        }
    }


    >* {
        cursor: pointer;
    }

    // Toggle handling
    >*:not(.toggleWorkspace) {
        width: 224px;
        display: none;
    }

    &.isOpen {
        >* {
            display: inherit;
        }

        .toggleWorkspace {
            left: 255px;
            z-index: 100;

            // hover when workspace is open
            &:hover {
                width: 33px;
                height: 22px;
                border-radius: 20px;
                justify-content: end;
                padding-inline-end: 9px;
                background-color: #0073ea;

                .svg {
                    svg {
                        fill: white;
                    }
                }
            }

        }
    }

    .workspace-dropdown {
        margin-bottom: 18px;
        border: 1px solid #676879;
        padding: 7px 6px;
        border-radius: 4px;

        .home {
            position: relative;

            .logo-text {
                background-color: rgb(242, 121, 242);
                color: white;
                font-weight: 600;
                position: relative;
                width: 24px;
                height: 24px;
                border-radius: 8px;
                margin-inline-end: 6px;
            }

            .logo {
                position: absolute;
                top: 9px;
                left: 13px;
            }

            .text {
                font-weight: bold;
            }
        }
    }

    .dropdown-nav-header {
        padding-bottom: 2px;

        span {
            font-size: 14px;
            color: rgb(103, 104, 121);
            padding-bottom: 3px;
            padding-top: 2px;
            padding-inline-start: 1px;
        }

        .more-medium{
            cursor:default;
            padding-bottom: 3px;
        }
    }

    // LISTS
    .action-list {
        padding-inline-start: 5px;
        padding-bottom: 16px;

        // the action.title class
        .Add {
            padding-inline-start: 4px;
        }

        // the action.icon class
        .filter {
            padding-inline-start: 2.3px;
        }

        .search {
            margin-inline-start: -2.3px;
        }
    }

    .lists-border {
        border-bottom: 1px solid $primary-border-clr;
        margin-bottom: 22px;
        margin-inline-start: 6px;
        width: 214px;
        height: 1px;
    }

    .board-list {
        padding-inline-start: 8px;
    }

    // todo - some problem with the font-weight--fix
    .item,
    .board-item {
        font-size: 14px;
        border-radius: 6px;
        line-height: 32px;

        >* {
            margin-inline-end: 8px;
        }
    }
    .active-item{
        background-color: $bg-big-sidebar-active;
    }

    .item {
        width: 224px;
        padding-inline-start: 6px;
        margin-inline-start: -6px;
    }
    .workspace-footer{
        display: none;
    }

}

.list-item {
    background-color: inherit;
    width: 224px;
    height: 34px;
    margin-bottom: 4px;
    padding: 0px 8px;
    border-radius: 4px;
    margin-inline-start: -9px;

    &:hover {
        .workspace-more-action{
            opacity: 1;
        }
    }
    .workspace-more-action{
        opacity: 0;
        width: 20px;
    }
    .delete-modal{
        position: absolute;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 0 0 4px 0px rgb(200, 200, 200);
        min-width: 224px;
        padding: 0px 8px;
        border-radius: 4px;
        height: 34px;
        line-height: 34px;
        z-index: -1;
        transform: translateX(-9px);
        &.open{
            z-index: 1;
            transform: translate(-9px, 38px);
            transition: .3s;
            &:hover{
                background-color: #f6f7fb;
            }
        }
    }
}

.workspace-arrow-left-div{
    border-style: solid;
    border-width: 0.5rem 6px 0.5rem 0;
    transition: opacity .1s ease-in-out;
    border-color: transparent #f6f7fb transparent transparent;
    position: absolute;
    top: 74px;
    left: 61px;
}
