// HELPERS
// flex
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

// Arnon-helpers
.flex.column {
    flex-direction: column;
}

.grow {
    flex: 1;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-even {
    justify-content: space-evenly;
}

.flex.center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

// grid
.grid {
    display: grid;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 2rem;
}

.gap-4 {
    gap: 4rem;
}

// layout
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sticky {
    position: sticky;
    z-index: 50;
}

.fully{
    width: 100%;
    height: 100%;
}
// text helpers
.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

//  list helpers
.clean-list {
    list-style-type: none;
}

// icon helpers
.icon,
.svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

// border helpers
.radius-4 {
    border-radius: 4px;
}

.radius-6 {
    border-radius: 6px;
}

.rad-tl-6 {
    border-top-left-radius: 6px;
}

.rad-bl-6 {
    border-bottom-left-radius: 6px;
}


// full-width
.full-width {
    width: 100%;
}

// hover helpers
.outboard-hover:hover {
    background-color: $primary-hover-clr;
    box-shadow: 0px 0px 0px 2px $primary-hover-clr;
}

.board-hover:hover {
    background-color: $table-hover-clr;
}

// Media helpers
// 
// .square-ratio {
//     @include aspect-ratio(1, 1);
// }
// .video-ratio {
//     @include aspect-ratio(16, 9);
// }
// .portrait-ratio {
//     @include aspect-ratio(9, 16);
// }