.home-page {
    position: relative;
    height: 100vh;
    // background-color: green;
    font-family: Roboto;
    .home-page-header{
        height: 70px;
    }
    .header-logo{
        padding-left: 20px;
        line-height: 70px;
    }

    .first-layout {
        height: 600px;
        width: 100%;
        padding: 20px;
        background: linear-gradient(rgb(0, 1, 51) 0%, rgb(15, 16, 72) 100%);
    }

    .header-line {
        display: block;
        text-align: center;
        // todo make it work after word
        color: #fff;
        padding-bottom: 12px;
        font-weight: 400;
        font-size: 80px;
        line-height: 85px;
        padding-top: 50px;
    }
    .first-homepage-line{
        background: -webkit-linear-gradient(#c2c2d2, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .sub-line {
        font-size: 24px;
        line-height: 40px;
        margin-top: 20px;
        text-align: center;
        color: #fff;
    }

    .start-btn {
        background: linear-gradient(90deg, #5034FF 25.69%, #B4B4FF 100%);
        border-radius: 30px;
        color: #ffffff;
        padding: 1rem;
        font-size: 1rem;
        font-family: 'Poppins';
        font-weight: 300;
        width: 156px;
        margin-top: 44px;

        &:hover {
            background: linear-gradient(90deg, #432cd5 25.69%, #9797d5 100%);

        }
    }

    .home-img {

        background-image: url(https://taskndrop-drko.onrender.com/dist/home-page.4b79e61c.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top;
    }

    .star{
        background-image: url(https://dapulse-res.cloudinary.com/image/upload/Generator_featured%20images/Home%20Page%20-%202022%20Rebrand/parallax/integrations/star.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 500px;
        background-size: cover;
        width: 8.55173px;
        height: 8.55173px;
        animation-duration: 3s;
        border-radius: 50%;
        animation-delay: 6s;
        will-change: transform;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: twinkle;
    }

    .star2{
        width: 4.55173px;
        height: 4.55173px;
        left: 200px;
        top: 150px;
        position: absolute;
    }
    .star3{
        width: 8.55173px;
        height: 8.55173px;
        left: 600px;
        top: 100px;
        position: absolute;
    }
    .star4{
        width: 2.55173px;
        height: 2.55173px;
        left: 550px;
        position: absolute;
    }
    .star5{
        width: 7.55173px;
        height: 7.55173px;
        left: 350px;
        top: 250px;
        position: absolute;
    }
    .star6{
        width: 3.55173px;
        height: 3.55173px;
        left: 300px;
        top: 300px;
        position: absolute;
    }
    .star7{
        width: 2.55173px;
        height: 2.55173px;
        left: 500px;
        top: 460px;
        position: absolute;
    }
    .star8{
        width: 8.55173px;
        height: 8.55173px;
        left: 100px;
        top: 100px;
        position: absolute;
    }
    .star9 {
        width: 3.55173px;
        height: 3.55173px;
        left: 150px;
        top: 150px;
        position: absolute;
    }
    .star10 {
        width: 5.55173px;
        height: 5.55173px;
        left: 125px;
        top: 200px;
        position: absolute;
    }
    .star11 {
        width: 9.55173px;
        height: 9.55173px;
        left: 366px;
        top: 380px;
        position: absolute;
    }
    .star12 {
        width: 4.55173px;
        height: 4.55173px;
        left: 460px;
        top: 190px;
        position: absolute;
    }
    .star13 {
        width: 2.55173px;
        height: 2.55173px;
        left: 450px;
        top: 180px;
        position: absolute;
    }
    .star14 {
        width: 5.55173px;
        height: 5.55173px;
        left: 100px;
        top: 100px;
        position: absolute;
    }
    .star15 {
        width: 4.55173px;
        height: 4.55173px;
        left: 260px;
        top: 190px;
        position: absolute;
    }
    .star16{
        width: 7.55173px;
        height: 6.55173px;
        left: 860px;
        top: 400px;
        position: absolute;
    }
    .star17{
        width: 5.55173px;
        height: 5.55173px;
        left: 760px;
        top: 460px;
        position: absolute;
    }
    .second-layout{
        justify-content: space-between;
    }
    .bottom-homepage-img{
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 0px 4px 2px #d0d0d0;
    }
    .center-home-img{
        position: absolute;
        background-color: #ffffff;
        z-index: 20;
        width: 600px;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
    }
    .small-home-img{
        width: 400px;
    }
  
    @keyframes twinkle {
      0% {
        transform: scale(0.3);
        opacity: 0.5;
      }
    }

}