.kanban {
    border-top: 1px solid $secondary-border-clr;
    font-family: roboto;
    width: 100%;
    // max-width: 85vh;
    height: 100%;
    position: relative;
    // overflow-x: hidden;
}

.kanban-content {
    flex: 1;
    gap: 12px;
    padding: 16px 0 0 20px;
    // todo thats a wrong why-improve that
    max-width: 70vw;
    overflow-x: auto;
    height: 100%;
}

//KANBAN-COLUMN
.kanban-col {
    width: 260px;
    background-color: red;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    // overflow: hidden;

    margin-inline-end: 15px;

    .col-header {
        display: flex;
        justify-content: center;
        font-size: rem(16px);
        padding-bottom: 8px;
        padding-top: 12px;
        color: white
    }

    .col-content {
        background-color: $dark-background-color;
        min-height: 110px;
        max-height: 100%;
        padding-inline-start: 4px;
        margin: 8px 0px 0px 4px;

        //todo need to handle the covering of dropdowns in the daynamic cmps
        // overflow-y: scroll;
        // todo remove that when there is a designed scroller just for the good scales meanwhile
        padding-inline-end: 10px;

    }

    .cards-container {
        .smooth-dnd-container{
            min-height: 38px;
        }

        flex-grow: 1;
    }

    .task-card {
        background-color: white;
        width: 100%;
        margin: 6px 0;
        padding: 8px;
        padding-inline-start: 5px;
        border-radius: 6px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);

        .title-wrapper {
            .svg{
               margin-inline-start: 4px; 
            }
            .task-title {
                padding-inline-start: 0;
                width: 100%;
                position: unset;
    
                .conversation-wrapper {
                    border-left: none;
                    width: fit-content;
                }
            }
        }

        .cell1,
        .cell2 {
            border-bottom: none;
            border-right: none;
            height: 38px;
        }

    }

    // Controling the defualt scss dynamic cmps -card-item is a one row
    .card-item {
        padding: 4px 0;
        height: 46px;

        &:nth-child(2){
            margin-top: 12px;
        }
        .sub1 {
            justify-content: start;
            .logo {
                margin-inline-end: 3px;
                >*{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }
            }

            span {
                font-size: em(13px);
                color: #676879;
            }
        }

        .cmp-wrapper {
            background-color: #f5f6f8;
            flex-grow: 1;
            // max-width: 132px;
            max-width: 135px;

            .timeline-container {
                width: 100%;
            }

        }
    }
}





.add-task-btn {
    height: 45px;
    padding: 4px 8px 4px 10px;
    display: flex;
    align-items: center;
    font-size: rem(14px);

    span {
        height: 100%;
        display: flex;
        align-items: center;
    }
}



// MEDIA-Query

@media(min-width:1280px){
    .kanban-content {
        width: 100vw;
        flex-basis: 100%;
        flex-wrap: nowrap;
    }
}