.login-signup {
    height: 100vh;

    >* {
        font-family: Roboto;
    }

    .home-page-header {
        height: 70px;
        font-size: 1.5rem;
        font-family: 'Roboto-bold';
        position: relative;
        font-weight: 600;
        color: #333333;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 65px;
        border-bottom: 1px solid $primary-border-clr;

        .login-section {
            margin-inline-end: 65px;
            justify-content: space-between;
        }

        .login-btn {
            padding: 8px 10px;
            border-radius: 4px;

            &:hover {
                color: #5034FF;
                background-color: #F0F3FF;
            }
        }


        .logo-suffix {
            position: absolute;
            font-size: 0.5em;
            font-family: 'Poppins-light';
            font-weight: 700;
            left: 183px;
            top: 4px;
        }

        .sub1 {
            margin-inline-start: 65px;

            .header-img {
                width: 40px;
                margin: auto 0;
                line-height: 20px;
            }

            .header-logo {
                line-height: 70px;
            }
        }
    }

    .title {
        margin: 50px;
        font-family: Roboto;
        color: $primary-txt-clr;

        h1 {
            font-weight: 700;
        }

        span {
            font-size: 32px;
            margin-inline-start: 8px;
        }
    }

    .login-wrapper {
        width: fit-content;

        .username-wrapper,
        .password-wrapper,
        .fullname-wrapper {
            margin-bottom: 16px;
            width: 500px;

            span {
                color: #ccc;
            }

            input {
                height: 40px;
                width: 410px;
                margin-inline-start: 16px;
                border-radius: 4px;
                border: 1px solid #ccc;

                &:focus-within {
                    border: 0;
                    outline: 1px solid $primary-clr;
                }
            }
        }

        button {
            background-color: $primary-clr;
            width: 410px;
            margin-top: 12px;
            align-self: flex-end;
            color: white;
            height: 48px;
            padding: 8px 16px;
            border-radius: 6px;

            &:hover {
                background-color: #0060b9;
            }
        }
    }

    .signup-text {
        margin-top: 22px;

        span {
            font-weight: 100;
            margin-inline-end: 8px;
            color: #333;
        }

        button {
            color: #0fa2e2;
        }
    }
}

// MQ
@media (max-width:680px) {
    .login-signup {
        .home-page-header {
            .sub1 {
                margin-inline-start: 20px;
            }

            .logo-suffix {
                left: 139px;
            }

            .login-section {
                margin-inline-end: 20px;
            }
        }
    }
}

@media (max-width:550px) {
    .login-signup {
        .login-wrapper {

            .username-wrapper,
            .password-wrapper,
            .fullname-wrapper {
                width: 300px;

                input {
                    width: 210px;
                    margin: 0;
                }
            }

            button {
                width: 210px;
            }
        }

        .signup-text {
            align-self: flex-end;
            margin-inline-end: calc((100vw - 300px)/2);
        }
    }
}