// COLOR PALETTE
// text colors
$primary-txt-clr: #323338;
$secondary-txt-clr: #676879;
// text hover colors
// BACKGROUNDS COLORS
// side bars
$bg-big-sidebar: rgb(246 247 251);
$bg-small-sidebar: rgb(41 47 76);
$bg-big-sidebar-active: rgb(204 229 255);
// status-bgs
$bg-status-done: rgb(0, 200, 117);
$bg-status-working: rgb(253, 171, 61);
$bg-status-stuck: rgb(226, 68, 92);
$bg-status-empty: #c3c4c3;
// groups-clrs
$group-clr-darkgreen: rgb(3, 127, 76);
$group-clr-green: rgb(0, 200, 117);
$group-clr-lightgreen: rgb(156, 211, 38);
$group-clr-darkyellow: rgb(202, 182, 65);
$group-clr-yellow: rgb(255, 203, 0);
$group-clr-darkpurple: rgb(120, 75, 209);
$group-clr-purple: #a25ddc;
$group-clr-darkblue: rgb(0, 134, 192);
$group-clr-blue: #579bfc;
$group-clr-lightblue: rgb(102, 204, 255);
$group-clr-darkred: rgb(187, 51, 84);
$group-clr-red: rgb(226, 68, 92);
$group-clr-darkpink: rgb(255, 21, 138);
$group-clr-pink: #ff5ac4;
$group-clr-darkorange: rgb(255, 100, 46);
$group-clr-orange: rgb(253, 171, 61);
$group-clr-brown: rgb(127, 83, 71);
$group-clr-lightgray: rgb(196, 196, 196);
$group-clr-darkorange: rgb(128, 128, 128);
// backgrounds hover colors
$primary-hover-clr: #dddfec;
$table-hover-clr: #f6f6f8;
// border colors
$primary-border-clr: #d0d4e6;
$secondary-border-clr: #c3c6d4;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
// Colors-yaron old 
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
// usefull clrs
$primary-clr: #0073ea;