// HELPERS



// flex

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}


// grid

.grid {
    display: grid;
}


.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 2rem;
}

.gap-4 {
    gap: 4rem;
}


// layout
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// text helpers

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}


//  list helpers

.clean-list {
    list-style-type: none;
}